@charset "UTF-8";

h1 {
  font-family: Franklin Gothic Mediu, Helvetica, Ariel;
  font-size: 80px;
  color: rgb(0, 204, 255);
  text-decoration: underline;
  font-style: italic;
  margin: 30px 30px 30px 150px;
}
